Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

Update
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

temp update cal requirement
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

logging in masking
  mirar/processors/mask.py
Due: black, isort, pylint

add double stage flats and lab flats
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/models/__init__.py
  mirar/pipelines/winter/models/_fp_astrometry_stats.py
  mirar/pipelines/winter/models/_raw.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/astromatic/swarp/component_images.py
Due: black, isort, pylint

unpack and reduce all
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

rebatch for photcal
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

group stacks
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

new winternlc
  poetry.lock
Due: none

subset
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

rename locks
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

right batching key
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

separate function for bid 6 masking, add nanfillers
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

remove redundant? masking
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

change name for reference catalogs
  mirar/pipelines/winter/generator/utils.py
Due: black, isort, pylint

add processor to download reference catalog
  mirar/processors/photcal/photcalibrator.py
Due: black, isort, pylint

update blocks with changes
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

right batching
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

implement for four boards
  mirar/pipelines/winter/nlc.py
Due: black, isort, pylint

only run winter test for debugging
  .github/workflows/continuous_integration.yml
Due: none

format
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

different boardid
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

add nlc for bid 6
  mirar/pipelines/winter/nlc.py
Due: black, isort, pylint

refactor stacks
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

update config
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

update poetry lock
  poetry.lock
Due: none

update tests
  tests/test_winter_pipeline.py
Due: black, isort, pylint

update test
  tests/test_winter_pipeline.py
Due: black, isort, pylint

all tests
  .github/workflows/continuous_integration.yml
Due: none

Nlchackathon (#1085)
  .github/workflows/continuous_integration.yml
  compose.yaml
  mirar/__main__.py
  mirar/database/setup.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/generator/utils.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/models/__init__.py
  mirar/pipelines/winter/models/_fp_astrometry_stats.py
  mirar/pipelines/winter/models/_raw.py
  mirar/pipelines/winter/nlc.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/astromatic/swarp/component_images.py
  mirar/processors/astrometry/anet/anet.py
  mirar/processors/flat.py
  mirar/processors/mask.py
  mirar/processors/photcal/photcalibrator.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/mode_masker.py
  mirar/processors/utils/nan_filler.py
  poetry.lock
  pyproject.toml
  tests/test_winter_pipeline.py
Due: black, isort, pylint, poetry-check

v1.0.0
  pyproject.toml
Due: poetry-check

v1.0.0 (#1109)
  pyproject.toml
Due: poetry-check

avro broadcast fix
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

Setup pipeline after reduce
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Update
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump version
  pyproject.toml
Due: poetry-check

avro broadcast fix (#1113)
  .github/workflows/continuous_integration.yml
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check
