Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

fix typo
  mirar/pipelines/winter/run.py
Due: black, isort, pylint

plot stack of stacks
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

actually detect candidates
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

add board id as well
  mirar/pipelines/winter/generator/reduce.py
Due: black, isort, pylint

Add autodeploy
  .github/workflows/docker.yml
  Dockerfile
  compose.yaml
  docs/source/docker.rst
  q3c.Dockerfile
Due: none

Make database optional
  .pre-commit-config.yaml
  compose.yaml
  docs/source/docker.rst
Due: none

Make database optional
  docs/source/docker.rst
Due: none

Pin scamp version
  .github/workflows/continuous_integration.yml
  docs/source/docker.rst
Due: none

Docker Integration (#1069)
  .dockerignore
  .github/workflows/continuous_integration.yml
  .github/workflows/docker.yml
  .github/workflows/mac_m1_install.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  Dockerfile
  compose.yaml
  docs/source/conf.py
  docs/source/docker.rst
  docs/source/installation.rst
  env.example
  mirar/catalog/vizier/gaia2mass.py
  mirar/paths.py
  mirar/pipelines/winter/config/__init__.py
  mirar/processors/astrometry/anet/anet.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

v0.20.0
  docs/source/installation.rst
  poetry.lock
  pyproject.toml
Due: poetry-check

v0.20.0 (#1075)
  docs/source/installation.rst
  poetry.lock
  pyproject.toml
Due: poetry-check

Update docker docs
  docs/source/docker.rst
  docs/source/index.rst
  docs/source/installation.rst
Due: none

Update docker docs
  docs/source/docker.rst
Due: none

Update docs with docker (#1081)
  docs/source/docker.rst
  docs/source/index.rst
  docs/source/installation.rst
Due: none

Progress
  mirar/processors/flat.py
Due: black, isort, pylint

Normal working version
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

midwayfalts
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

Fix typo in cal requirements
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

interim
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

interim nlc
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/nlc.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/mode_masker.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

Fix download
  poetry.lock
  pyproject.toml
Due: poetry-check

Isortify
  mirar/pipelines/winter/generator/reduce.py
Due: black, isort, pylint

New nlc mode
  mirar/pipelines/winter/nlc.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Only round if t>1
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

Fix typo
  pyproject.toml
Due: poetry-check

Update poetry.lock
  poetry.lock
Due: none

fix script
  mirar/__main__.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

Update to skyflat config
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

move imageselector
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Fallback old flat mode
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Fix db user set up
  mirar/database/setup.py
Due: black, isort, pylint

More careful checking
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

add main call
  mirar/__main__.py
Due: black, isort, pylint

Fix main
  mirar/__main__.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/blocks.py
  poetry.lock
Due: black, isort, pylint

correct image loader
  mirar/processors/astromatic/swarp/component_images.py
Due: black, isort, pylint

remove unnecessary prerequisite
  mirar/processors/astromatic/swarp/component_images.py
Due: black, isort, pylint

model
  mirar/pipelines/winter/models/__init__.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
