Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

Demote hours_used check to warning
  mirar/pipelines/winter/models/_programs.py
Due: black, isort, pylint

Demote hours_used check to warning (#1139)
  mirar/pipelines/winter/models/_programs.py
Due: black, isort, pylint

Update
  pyproject.toml
Due: poetry-check

V1.2.2 (#1140)
  pyproject.toml
Due: poetry-check

Widen numpy pin to allow numpy 2.x, pinned below the np.in1d removal
  astro-deps.cfg
  poetry.lock
  pyproject.toml
Due: poetry-check

Make external catalog/reference queries retry and fail loudly, not silently
  mirar/catalog/base/base_catalog.py
  mirar/catalog/base/errors.py
  mirar/catalog/multibackend/gaia2mass.py
  mirar/catalog/tap/gaia2mass.py
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/catalog/vizier/sdss.py
  mirar/references/ps1.py
  mirar/references/sdss.py
  mirar/utils/ldac_tools.py
  mirar/utils/retry.py
Due: black, isort, pylint

Widen numpy pin to allow numpy 2.x (#1142)
  astro-deps.cfg
  poetry.lock
  pyproject.toml
Due: poetry-check

More robust external catalogue queries (#1143)
  mirar/catalog/base/base_catalog.py
  mirar/catalog/base/errors.py
  mirar/catalog/multibackend/gaia2mass.py
  mirar/catalog/tap/gaia2mass.py
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/catalog/vizier/sdss.py
  mirar/references/ps1.py
  mirar/references/sdss.py
  mirar/utils/ldac_tools.py
  mirar/utils/retry.py
Due: black, isort, pylint

Bump astropy to >=7.2.0 and pandas to >=3.0.0
  pyproject.toml
Due: poetry-check

Regenerate poetry.lock now that wintertoo 1.10.1 is on PyPI
  poetry.lock
Due: none

Fix XMatch crash on catalog ids returned as strings under pandas 3.0
  mirar/processors/xmatch.py
  tests/test_xmatch.py
Due: black, isort, pylint

Bump astropy to >=7.2.0 and pandas to >=3.0.0 (#1144)
  mirar/processors/xmatch.py
  poetry.lock
  pyproject.toml
  tests/test_xmatch.py
Due: black, isort, pylint, poetry-check

Replace Kowalski (via penquins) with BOOM (via blastwave) for WINTER catalog queries
  .github/workflows/continuous_integration.yml
  mirar/catalog/base/base_xmatch_catalog.py
  mirar/catalog/boom/__init__.py
  mirar/catalog/boom/base_boom_catalog.py
  mirar/catalog/boom/gaia.py
  mirar/catalog/boom/ps1.py
  mirar/catalog/boom/tmass.py
  mirar/catalog/boom/ztf.py
  mirar/catalog/kowalski/__init__.py
  mirar/catalog/kowalski/base_kowalski_catalog.py
  mirar/pipelines/winter/blocks.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Merge PS1/PS1SGSc/PS1STRM into a single PS1_DR2 query
  mirar/catalog/boom/__init__.py
  mirar/catalog/boom/ps1.py
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Add PS1 crossmatch regression tests; fix psobjectid precision loss
  mirar/catalog/boom/ps1.py
  mirar/processors/xmatch.py
  tests/test_winter_pipeline.py
  tests/test_xmatch.py
Due: black, isort, pylint

Add PS1 crossmatch regression values, sourced from real Linux CI
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Fix WINTER pipeline run-to-run non-reproducibility
  mirar/pipelines/winter/constants.py
  mirar/pipelines/winter/generator/astrometry.py
  mirar/pipelines/winter/generator/photometry.py
  mirar/pipelines/winter/generator/utils.py
  mirar/processors/astromatic/scamp/configs/scamp.conf
  mirar/processors/astromatic/scamp/configs/scamp_fp.conf
  mirar/references/wfcam/utils.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint

Use the real operational dither radius; fix units bug in overlap check
  mirar/pipelines/winter/constants.py
  mirar/pipelines/winter/generator/utils.py
Due: black, isort, pylint

WIP: add Kowalski PS1 crossmatch baseline test (placeholders)
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Pin real Kowalski PS1 crossmatch values as a BOOM comparison baseline
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Remove explanatory comments
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Add PS1 crossmatch test for WINTER (#1147)
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Update pinned ZP values to reflect the widened reference-catalog cache
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Trim comments to a single line apiece
  mirar/pipelines/winter/constants.py
  mirar/pipelines/winter/generator/astrometry.py
  mirar/pipelines/winter/generator/photometry.py
  mirar/pipelines/winter/generator/utils.py
  mirar/processors/astromatic/scamp/configs/scamp.conf
  mirar/processors/astromatic/scamp/configs/scamp_fp.conf
  mirar/references/wfcam/utils.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint

Use tempfile.NamedTemporaryFile instead of manual mkstemp/os.close
  mirar/references/wfcam/utils.py
Due: black, isort, pylint

Nest the write/rename try/except inside the NamedTemporaryFile with-block
  mirar/references/wfcam/utils.py
Due: black, isort, pylint

Narrow the write/rename cleanup to catch OSError, not Exception
  mirar/references/wfcam/utils.py
Due: black, isort, pylint

Update expected WINTER candidate count for the 20230726 dataset
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Fix WINTER astrometric reference-catalog cache coverage (#1146)
  mirar/pipelines/winter/constants.py
  mirar/pipelines/winter/generator/astrometry.py
  mirar/pipelines/winter/generator/photometry.py
  mirar/pipelines/winter/generator/utils.py
  mirar/processors/astromatic/scamp/configs/scamp.conf
  mirar/processors/astromatic/scamp/configs/scamp_fp.conf
  mirar/references/wfcam/utils.py
  mirar/references/wfcam/wfcam_query.py
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Sort BOOM cone_search matches by distance client-side
  mirar/catalog/boom/base_boom_catalog.py
Due: black, isort, pylint

Fix BOOM crossmatch returning arbitrary, not nearest, matches
  mirar/catalog/boom/base_boom_catalog.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Trim comments to a single line apiece
  mirar/catalog/boom/gaia.py
  mirar/catalog/boom/ps1.py
  mirar/processors/xmatch.py
  tests/test_winter_pipeline.py
  tests/test_xmatch.py
Due: black, isort, pylint

Convert PS1's -999 sentinel to None, not a literal magnitude
  mirar/catalog/boom/ps1.py
Due: black, isort, pylint

Refresh magpsf/magap/srmag1/distpsnr1/psobjectid1 pins post-nearest-match fix
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Filter BOOM PS1 crossmatch to docs with ps_score, matching Kowalski's PS1_DR1
  mirar/catalog/boom/ps1.py
Due: black, isort, pylint

Refresh WINTER pins post ps_score-filter fix; add sgscore1 coverage
  tests/test_winter_pipeline.py
Due: black, isort, pylint
