Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

Make rtd work
  .readthedocs.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Try install
  .readthedocs.yml
Due: none

Try again
  .readthedocs.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Make readthedocs work again (#890)
  .readthedocs.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Add suuport for CLI stacking
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/run.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/image_loader.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

Add support for CLI stacking (#891)
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/run.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/image_loader.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

use dither flats
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

use dither flats (#892)
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Half-built code
  mirar/paths.py
  mirar/processors/sources/machine_learning.py
Due: black, isort, pylint

delete old comment
  mirar/pipelines/winter/generator/realbogus.py
Due: black, isort, pylint

Ready for rb
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/generator/realbogus.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/processors/sources/machine_learning/__init__.py
  mirar/processors/sources/machine_learning/pytorch.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Try extra disk space
  .github/workflows/continuous_integration.yml
Due: none

RB for WINTER (#893)
  .github/workflows/continuous_integration.yml
  mirar/paths.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/generator/realbogus.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/processors/sources/machine_learning/__init__.py
  mirar/processors/sources/machine_learning/pytorch.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

lower rb cut
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

lower rb cut (#894)
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

Add broadcast status to DB
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/models/_candidates.py
Due: black, isort, pylint

Replace not fail
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Bump version
  poetry.lock
  pyproject.toml
Due: poetry-check

Add broadcast status to DB (#895)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/models/_candidates.py
Due: black, isort, pylint

Bump version (#896)
  poetry.lock
  pyproject.toml
Due: poetry-check

Process in batches
  mirar/pipelines/winter/blocks.py
  mirar/processors/xmatch.py
Due: black, isort, pylint

Bump kowalski timeout
  mirar/catalog/kowalski/base_kowalski_catalog.py
Due: black, isort, pylint

Send to skypoortal marks sent=True
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Add optional annotations
  mirar/pipelines/winter/config/__init__.py
  mirar/processors/skyportal/skyportal_candidate.py
Due: black, isort, pylint

Same annotations for all modes
  mirar/processors/skyportal/skyportal_candidate.py
Due: black, isort, pylint

More robust candidate broadcasting (#898)
  mirar/catalog/kowalski/base_kowalski_catalog.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/processors/skyportal/skyportal_candidate.py
  mirar/processors/xmatch.py
Due: black, isort, pylint

Update docs
  docs/source/mirar.catalog.base.rst
  docs/source/mirar.catalog.kowalski.rst
  docs/source/mirar.catalog.multibackend.rst
  docs/source/mirar.catalog.rst
  docs/source/mirar.catalog.tap.rst
  docs/source/mirar.catalog.vizier.rst
  docs/source/mirar.pipelines.rst
  docs/source/mirar.pipelines.wasp.config.rst
  docs/source/mirar.pipelines.wasp.rst
  docs/source/mirar.pipelines.winter.generator.rst
  docs/source/mirar.pipelines.winter.rst
  docs/source/mirar.processors.sources.machine_learning.rst
  docs/source/mirar.processors.sources.rst
  docs/source/mirar.processors.utils.rst
Due: none

Update
  .readthedocs.yml
  docs/source/mirar.catalog.vizier.rst
Due: none

Retain test of configuration
  .gitignore
  mirar/utils/docs/__init__.py
  mirar/utils/docs/pipeline_visualisation.py
  tests/test_configurations.py
Due: black, isort, pylint

Autobuild the pipeline config pngs
  .gitignore
  .readthedocs.yml
  README.md
  docs/source/about.rst
  docs/source/conf.py
  docs/source/extra/MIRAR_logo.png
  docs/source/index.rst
  mirar/utils/docs/auto_config_docs.py
  mirar/utils/docs/pipeline_visualisation.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Try building
  .readthedocs.yml
Due: none

Fix path
  .readthedocs.yml
  mirar/utils/docs/__init__.py
Due: black, isort, pylint

Fix relative path
  docs/source/index.rst
  mirar/utils/docs/auto_config_docs.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

Add ps1strm info to avros
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
Due: none

Fix #900
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
