Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

Progress
  mirar/processors/flat.py
Due: black, isort, pylint

midwayfalts
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

decam
  mirar/pipelines/git/load_git_image.py
Due: black, isort, pylint

add decam
  mirar/pipelines/git/blocks.py
  mirar/pipelines/git/generator.py
  mirar/pipelines/git/git_pipeline.py
Due: black, isort, pylint

remove foreign key from candidates to stacks and diffs
  mirar/pipelines/winter/models/_candidates.py
  mirar/pipelines/winter/models/_diff.py
  mirar/pipelines/winter/models/_stack.py
Due: black, isort, pylint

set scorr detection threshold
  mirar/processors/sources/source_detector.py
Due: black, isort, pylint

galactic plane candidates
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

print correctly
  mirar/processors/sources/source_detector.py
Due: black, isort, pylint

batch
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

fix stackid
  mirar/pipelines/winter/models/_candidates.py
Due: black, isort, pylint

change scorr thresh to 10.0
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

do not open images for every coordinate
  mirar/processors/photometry/aperture_photometry.py
  mirar/processors/photometry/base_photometry.py
  mirar/processors/photometry/psf_photometry.py
  mirar/processors/photometry/utils.py
  mirar/processors/sources/source_detector.py
Due: black, isort, pylint

diffid nullable
  mirar/pipelines/winter/models/_candidates.py
Due: black, isort, pylint

Mid
  mirar/pipelines/winter/blocks.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint

Bump poetry and urllib
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Add wcslin
  .github/workflows/continuous_integration.yml
Due: none

deconda poetry
  .github/workflows/continuous_integration.yml
Due: none

reorder
  .github/workflows/continuous_integration.yml
Due: none

Update astrometry.net version
  .github/workflows/continuous_integration.yml
Due: none

Try apt-get
  .github/workflows/continuous_integration.yml
Due: none

wcstools
  .github/workflows/continuous_integration.yml
Due: none

Update
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Bump astrometry.net
  .github/workflows/continuous_integration.yml
Due: none

Python 3.12 (#976)
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix #957
  mirar/paths.py
  mirar/processors/astromatic/config/__init__.py
  mirar/processors/astromatic/sextractor/__init__.py
  mirar/processors/astromatic/sextractor/settings.py
Due: black, isort, pylint

Fix #948
  env.example
  mirar/data/cache.py
  mirar/data/image_data.py
Due: black, isort, pylint

Fix #957 (#985)
  mirar/paths.py
  mirar/processors/astromatic/config/__init__.py
  mirar/processors/astromatic/sextractor/__init__.py
  mirar/processors/astromatic/sextractor/settings.py
Due: black, isort, pylint

Add ZTF crossmatch
  mirar/catalog/kowalski/__init__.py
  mirar/catalog/kowalski/ztf.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.avsc
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/models/_candidates.py
Due: black, isort, pylint

Fix #948 (#986)
  env.example
  mirar/data/cache.py
  mirar/data/image_data.py
Due: black, isort, pylint

Add ztf crossmatching
  mirar/catalog/kowalski/base_kowalski_catalog.py
  mirar/catalog/kowalski/ztf.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/xmatch.py
Due: black, isort, pylint

Add ZTF crossmatching (#987)
  mirar/catalog/kowalski/__init__.py
  mirar/catalog/kowalski/base_kowalski_catalog.py
  mirar/catalog/kowalski/ztf.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.avsc
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/xmatch.py
Due: black, isort, pylint

Update
  poetry.lock
Due: none

v0.17.0
  pyproject.toml
Due: poetry-check

v0.17.0 (#988)
  poetry.lock
  pyproject.toml
Due: poetry-check

Copy virajs wirc branch
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/load_wirc_image.py
  mirar/processors/astromatic/scamp/scamp.py
Due: black, isort, pylint

Add development from wircdev
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/generator/__init__.py
  mirar/pipelines/wirc/generator/references.py
  mirar/pipelines/wirc/generator/stacks.py
  mirar/pipelines/wirc/generator/target.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint

Reject earlier
  mirar/pipelines/wirc/blocks.py
Due: black, isort, pylint

Reassign stacks post-astrometry
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/generator/stacks.py
  mirar/pipelines/wirc/wirc_pipeline.py
Due: black, isort, pylint

Wirc 2 (#990)
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/generator/__init__.py
  mirar/pipelines/wirc/generator/references.py
  mirar/pipelines/wirc/generator/stacks.py
  mirar/pipelines/wirc/generator/target.py
  mirar/pipelines/wirc/load_wirc_image.py
  mirar/pipelines/wirc/wirc_pipeline.py
  mirar/processors/astromatic/scamp/scamp.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint
