Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

First stab
  Dockerfile
Due: none

Working docker for wasp
  .dockerignore
  Dockerfile
Due: none

Add working docker file
  .dockerignore
  Dockerfile
Due: none

Working output_data_dir/mounting
  Dockerfile
Due: none

Working DB-integrated docker version
  Dockerfile
  compose.yaml
  docs/source/docker.rst
  env.example
  mirar/paths.py
  mirar/pipelines/winter/config/__init__.py
  mirar/processors/astrometry/anet/anet.py
  q3c.Dockerfile
Due: black, isort, pylint

add main call
  mirar/__main__.py
Due: black, isort, pylint

Fix main
  mirar/__main__.py
Due: black, isort, pylint

delete echo
  Dockerfile
Due: none

Update Anet doc
  docs/source/installation.rst
Due: none

Try pipx
  .github/workflows/continuous_integration.yml
Due: none

pipxer
  .github/workflows/continuous_integration.yml
  .readthedocs.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix typo
  .github/workflows/continuous_integration.yml
Due: none

Fix M1 install
  .github/workflows/mac_m1_install.yml
Due: none

Update
  .github/workflows/mac_m1_install.yml
Due: none

Update
  .github/workflows/continuous_integration.yml
Due: none

cfht files
  mirar/pipelines/__init__.py
  mirar/pipelines/cfht/blocks.py
  mirar/pipelines/cfht/cfht_pipeline.py
  mirar/pipelines/cfht/config/__init__.py
  mirar/pipelines/cfht/config/constants.py
  mirar/pipelines/cfht/config/files/Scorr.param
  mirar/pipelines/cfht/config/files/astrom.param
  mirar/pipelines/cfht/config/files/astrom.sex
  mirar/pipelines/cfht/config/files/config.swarp
  mirar/pipelines/cfht/config/files/default.conv
  mirar/pipelines/cfht/config/files/default.nnw
  mirar/pipelines/cfht/config/files/photom.param
  mirar/pipelines/cfht/config/files/photom.psfex
  mirar/pipelines/cfht/config/files/photomCat.sex
  mirar/pipelines/cfht/config/files/photomPSF.param
  mirar/pipelines/cfht/config/files/photom_sci.psfex
  mirar/pipelines/cfht/config/files/scamp.conf
  mirar/pipelines/cfht/generator.py
  mirar/pipelines/cfht/load_cfht_file.py
  mirar/processors/astrometry/anet/anet.py
Due: black, isort, pylint

dont run two times unnecessarily
  mirar/processors/astrometry/anet/anet.py
Due: black, isort, pylint

Fix mysterious vizier key
  mirar/catalog/vizier/gaia2mass.py
Due: black, isort, pylint

Point CI
  .github/workflows/continuous_integration.yml
Due: none

verboser
  mirar/processors/astrometry/anet/anet.py
Due: black, isort, pylint

depipx
  .github/workflows/continuous_integration.yml
  mirar/processors/astrometry/anet/anet.py
  poetry.lock
Due: black, isort, pylint

update
  .github/workflows/continuous_integration.yml
Due: none

Update
  poetry.lock
  pyproject.toml
Due: poetry-check

Update
  .github/workflows/continuous_integration.yml
  .readthedocs.yml
Due: none

Update
  docs/source/conf.py
Due: black, isort, pylint

Try skip doctest
  docs/source/conf.py
Due: black, isort, pylint

working
  .github/workflows/continuous_integration.yml
  docs/source/conf.py
Due: black, isort, pylint

force ubuntu 22
  .github/workflows/continuous_integration.yml
Due: none

temp test commit
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

add stackid
  mirar/pipelines/wirc/blocks.py
Due: black, isort, pylint

increase radius
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/generator/stacks.py
Due: black, isort, pylint

increase radius
  mirar/pipelines/wirc/generator/stacks.py
Due: black, isort, pylint
