Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

errors
  mirar/references/wfcam/utils.py
Due: black, isort, pylint

load astrometry
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

Vista (#850)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/references/wfcam/utils.py
  mirar/references/wfcam/wfcam_query.py
  mirar/references/wfcam/wfcam_stack.py
Due: black, isort, pylint

Swap Zenodo reference to latest
  README.md
  docs/source/index.rst
Due: none

Swap Zenodo reference to latest (#857)
  README.md
  docs/source/index.rst
Due: none

First draft of Gaia DR3
  mirar/catalog/base/base_catalog.py
  mirar/catalog/tap/gaia2mass.py
  mirar/catalog/vizier/base_vizier_catalog.py
Due: black, isort, pylint

Better Gaia check
  mirar/catalog/multibackend/gaia2mass.py
  mirar/catalog/tap/gaia2mass.py
Due: black, isort, pylint

Default now vizier
  mirar/catalog/multibackend/gaia2mass.py
Due: black, isort, pylint

Swap Tap to use Gaia DR3 (#854)
  mirar/catalog/base/base_catalog.py
  mirar/catalog/multibackend/gaia2mass.py
  mirar/catalog/tap/gaia2mass.py
  mirar/catalog/vizier/base_vizier_catalog.py
Due: black, isort, pylint

use superdict
  mirar/pipelines/wirc/blocks.py
  mirar/processors/sources/namer.py
Due: black, isort, pylint

Fix typos
  mirar/processors/sources/source_selector.py
Due: black, isort, pylint

pylint, shhhh
  mirar/processors/sources/source_selector.py
Due: black, isort, pylint

Fix history/naming
  mirar/paths.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/pipelines/wirc/blocks.py
  mirar/processors/base_processor.py
  mirar/processors/csvlog.py
  mirar/processors/database/database_inserter.py
  mirar/processors/database/database_selector.py
  mirar/processors/sources/__init__.py
  mirar/processors/sources/forced_photometry.py
  mirar/processors/sources/namer.py
  mirar/processors/sources/sextractor_source_detector.py
  mirar/processors/sources/source_detector.py
  mirar/processors/sources/source_selector.py
  mirar/processors/utils/__init__.py
Due: black, isort, pylint

v0.13.5
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix history/naming (#858)
  mirar/paths.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/pipelines/wirc/blocks.py
  mirar/processors/base_processor.py
  mirar/processors/csvlog.py
  mirar/processors/database/database_inserter.py
  mirar/processors/database/database_selector.py
  mirar/processors/sources/__init__.py
  mirar/processors/sources/forced_photometry.py
  mirar/processors/sources/namer.py
  mirar/processors/sources/sextractor_source_detector.py
  mirar/processors/sources/source_detector.py
  mirar/processors/sources/source_selector.py
  mirar/processors/utils/__init__.py
Due: black, isort, pylint

v0.13.5 (#860)
  poetry.lock
  pyproject.toml
Due: poetry-check

First attempt for kowalski
  mirar/catalog/kowalski/gaia2mass.py
  mirar/catalog/multibackend/gaia2mass.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator.py
Due: black, isort, pylint

photometry after imsub
  mirar/pipelines/sedmv2/blocks.py
  mirar/pipelines/sedmv2/sedmv2_pipeline.py
Due: black, isort, pylint

blocks cleanup
  mirar/pipelines/sedmv2/blocks.py
  mirar/pipelines/sedmv2/sedmv2_pipeline.py
Due: black, isort, pylint

imsub works with transient_PSF config
  mirar/pipelines/sedmv2/sedmv2_pipeline.py
Due: black, isort, pylint

imsub draft
  mirar/pipelines/sedmv2/blocks.py
  mirar/pipelines/sedmv2/config/__init__.py
  mirar/pipelines/sedmv2/generator.py
  mirar/pipelines/sedmv2/sedmv2_pipeline.py
Due: black, isort, pylint

Add failfast option to CLI
  mirar/__main__.py
Due: black, isort, pylint

Add functional wasp pipeline
  mirar/pipelines/__init__.py
  mirar/pipelines/wasp/__init__.py
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/config/constants.py
  mirar/pipelines/wasp/config/files/astrom.param
  mirar/pipelines/wasp/config/files/astrom.sex
  mirar/pipelines/wasp/config/files/config.swarp
  mirar/pipelines/wasp/config/files/default.conv
  mirar/pipelines/wasp/config/files/default.nnw
  mirar/pipelines/wasp/config/files/photom.param
  mirar/pipelines/wasp/config/files/photomCat.sex
  mirar/pipelines/wasp/config/files/photom_sci.psfex
  mirar/pipelines/wasp/config/files/scamp.conf
  mirar/pipelines/wasp/generator.py
  mirar/pipelines/wasp/load_wasp_image.py
  mirar/pipelines/wasp/wasp_pipeline.py
  mirar/processors/reference.py
  mirar/processors/sources/__init__.py
Due: black, isort, pylint

Add saving/loading parquet
  mirar/processors/sources/__init__.py
  mirar/processors/sources/csv_exporter.py
  mirar/processors/sources/parquet_loader.py
  mirar/processors/sources/parquet_writer.py
  mirar/processors/sources/source_exporter.py
Due: black, isort, pylint

Tidy up sextractor a bit
  mirar/processors/astromatic/sextractor/sextractor.py
Due: black, isort, pylint

Actually return float not object
  mirar/data/utils/coords.py
Due: black, isort, pylint

clean up swarp a bit
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Finalise wasp v1
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/load_wasp_image.py
Due: black, isort, pylint

Fix bug in zogy directory creation
  mirar/processors/photometry/utils.py
  mirar/processors/zogy/zogy.py
Due: black, isort, pylint

Add pyarrow dependency
  poetry.lock
  pyproject.toml
Due: poetry-check

Update wasp for anet
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/generator.py
  mirar/pipelines/wasp/load_wasp_image.py
  mirar/pipelines/wasp/wasp_pipeline.py
  mirar/processors/astromatic/__init__.py
  mirar/processors/astromatic/sextractor/background_subtractor.py
Due: black, isort, pylint

Working well for both nights
  mirar/processors/astrometry/anet/anet.py
Due: black, isort, pylint

Add wasp to docs
  docs/source/usage.rst
Due: none

Working well for both nights
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/constants.py
  mirar/pipelines/wasp/generator.py
  mirar/pipelines/wasp/load_wasp_image.py
Due: black, isort, pylint

Fix typo
  mirar/processors/sources/parquet_writer.py
Due: black, isort, pylint

Don't batch by ra for dithers
  mirar/pipelines/wasp/blocks.py
Due: black, isort, pylint

fix bug in git pipeline
  mirar/pipelines/git/blocks.py
Due: black, isort, pylint

Fix doc test
  docs/source/usage.rst
Due: none

Update pylint
  mirar/pipelines/summer/config/__init__.py
  mirar/pipelines/summer/config/constants.py
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/config/constants.py
  mirar/pipelines/wasp/generator.py
  mirar/pipelines/wasp/load_wasp_image.py
Due: black, isort, pylint

WASP pipeline plus parquet integration (#833)
  docs/source/usage.rst
  mirar/__main__.py
  mirar/data/utils/coords.py
  mirar/pipelines/__init__.py
  mirar/pipelines/git/blocks.py
  mirar/pipelines/summer/config/__init__.py
  mirar/pipelines/summer/config/constants.py
  mirar/pipelines/wasp/__init__.py
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/config/constants.py
  mirar/pipelines/wasp/config/files/astrom.param
  mirar/pipelines/wasp/config/files/astrom.sex
  mirar/pipelines/wasp/config/files/config.swarp
  mirar/pipelines/wasp/config/files/default.conv
  mirar/pipelines/wasp/config/files/default.nnw
  mirar/pipelines/wasp/config/files/photom.param
  mirar/pipelines/wasp/config/files/photomCat.sex
  mirar/pipelines/wasp/config/files/photom_sci.psfex
  mirar/pipelines/wasp/config/files/scamp.conf
  mirar/pipelines/wasp/generator.py
  mirar/pipelines/wasp/load_wasp_image.py
  mirar/pipelines/wasp/wasp_pipeline.py
  mirar/processors/astromatic/__init__.py
  mirar/processors/astromatic/sextractor/background_subtractor.py
  mirar/processors/astromatic/sextractor/sextractor.py
  mirar/processors/astromatic/swarp/swarp.py
  mirar/processors/astrometry/anet/anet.py
  mirar/processors/photometry/utils.py
  mirar/processors/reference.py
  mirar/processors/sources/__init__.py
  mirar/processors/sources/csv_exporter.py
  mirar/processors/sources/parquet_loader.py
  mirar/processors/sources/parquet_writer.py
  mirar/processors/sources/source_exporter.py
  mirar/processors/zogy/zogy.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
