Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

Update
  .github/workflows/test_install_script.yml
Due: none

Working??????
  install_mirar.sh
Due: none

Working?????
  .github/workflows/test_install_script.yml
  install_mirar.sh
Due: none

Don't forget pre-commit
  install_mirar.sh
Due: none

Update
  .github/workflows/continuous_integration.yml
Due: none

Working????
  .github/workflows/test_install_script.yml
Due: none

Working??
  install_mirar.sh
Due: none

Working????????
  docs/source/installation.rst
  install_mirar.sh
Due: none

Working???????
  docs/source/installation.rst
  install_mirar.sh
Due: none

Update, now working
  .github/workflows/mac_m1_install.yml
  astro-deps.cfg
Due: none

Fix
  install_mirar.sh
Due: none

Update
  .github/workflows/test_install_script.yml
  docs/source/installation.rst
  install_mirar.sh
Due: none

Working???
  install_mirar.sh
Due: none

two swarps *sigh*
  .github/workflows/continuous_integration.yml
  astro-deps.cfg
  docs/source/installation.rst
Due: none

Align versions for CI
  .github/workflows/continuous_integration.yml
Due: none

Drop conda osx-64 nonsense (#1133)
  .github/workflows/continuous_integration.yml
  .github/workflows/mac_m1_install.yml
  .github/workflows/pylint.yml
  .github/workflows/test_install_script.yml
  astro-deps.cfg
  docs/source/installation.rst
  docs/source/usage.rst
  install_mirar.sh
  mirar/io.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Add automated typing to pre-commit
  .pre-commit-config.yaml
Due: none

Fix type hinting
  mirar/pipelines/git/config/__init__.py
  mirar/pipelines/gmos/config/__init__.py
  mirar/pipelines/lmi/config/__init__.py
  mirar/pipelines/sedmv2/config/__init__.py
  mirar/pipelines/summer/config/__init__.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/wirc/wirc_files/__init__.py
  mirar/processors/astromatic/psfex/psfex.py
  mirar/processors/astromatic/scamp/scamp.py
  mirar/processors/astromatic/sextractor/__init__.py
  mirar/processors/astromatic/sextractor/config.py
  mirar/processors/astromatic/sextractor/sextractor.py
  mirar/processors/astromatic/swarp/swarp.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

Mypy check
  .pre-commit-config.yaml
Due: none

More autotyping
  mirar/data/base_data.py
  mirar/database/constraints.py
  mirar/monitor/base_monitor.py
  mirar/pipelines/summer/models/_exposures.py
  mirar/pipelines/winter/fix_headers.py
  mirar/pipelines/winter/ingest_references.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/pipelines/winter/models/_exposures.py
  mirar/processors/avro/base_avro_exporter.py
  mirar/processors/avro/ipac_avro_exporter.py
  mirar/processors/cosmic_rays.py
  mirar/processors/utils/cal_hunter.py
  mirar/references/ps1.py
Due: black, isort, pylint

Numpy V2
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Numpy v2
  .github/workflows/continuous_integration.yml
  astro-deps.cfg
Due: none

cleanup for database stuff
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/generator.py
  mirar/pipelines/spring/load_spring_image.py
  mirar/pipelines/spring/models/_candidates.py
  mirar/pipelines/spring/models/_exposures.py
  mirar/pipelines/spring/models/_fields.py
  mirar/pipelines/spring/models/_filters.py
  mirar/pipelines/spring/models/_img_type.py
  mirar/pipelines/spring/models/_nights.py
  mirar/pipelines/spring/models/_programs.py
  mirar/pipelines/spring/models/_raw.py
  mirar/pipelines/spring/models/default_unknown_field.py
Due: black, isort, pylint

sncosmo filters
  mirar/pipelines/spring/constants.py
  mirar/pipelines/spring/generator.py
  mirar/pipelines/spring/load_spring_image.py
Due: black, isort, pylint

make sitewide group
  mirar/pipelines/spring/config/__init__.py
Due: black, isort, pylint

isort
  mirar/pipelines/__init__.py
Due: black, isort, pylint

cleanup
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/config/__init__.py
  mirar/pipelines/spring/config/constants.py
  mirar/pipelines/spring/constants.py
  mirar/pipelines/spring/generator.py
  mirar/pipelines/spring/load_spring_image.py
Due: black, isort, pylint

cleanup
  mirar/pipelines/spring/generator.py
Due: black, isort, pylint

cleanup and default programs
  mirar/pipelines/spring/models/__init__.py
  mirar/pipelines/spring/models/_candidates.py
  mirar/pipelines/spring/models/_filters.py
  mirar/pipelines/spring/models/_programs.py
  mirar/pipelines/spring/models/_raw.py
  mirar/pipelines/spring/models/_sources.py
  mirar/pipelines/spring/models/_stack.py
Due: black, isort, pylint

cleanup
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

fix doctest
  docs/source/usage.rst
Due: none

changing a few quirks with the default command and fixing the skyportal upload issues
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/config/__init__.py
  mirar/pipelines/spring/generator.py
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

merge commit
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/config/__init__.py
  mirar/pipelines/spring/generator.py
Due: black, isort, pylint

Remove duplicated field in schema
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
Due: none

Cache index files
  .github/workflows/continuous_integration.yml
Due: none

Remove duplicated field in schema (#1134)
  .github/workflows/continuous_integration.yml
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
Due: none

Bump version
  pyproject.toml
Due: poetry-check

update cal requirements
  mirar/pipelines/spring/config/__init__.py
Due: black, isort, pylint

add group id
  mirar/processors/skyportal/skyportal_source.py
Due: black, isort, pylint
