Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

Replace Kowalski (via penquins) with BOOM (via blastwave) (#1145)
  .github/workflows/continuous_integration.yml
  mirar/catalog/base/base_xmatch_catalog.py
  mirar/catalog/boom/__init__.py
  mirar/catalog/boom/base_boom_catalog.py
  mirar/catalog/boom/gaia.py
  mirar/catalog/boom/ps1.py
  mirar/catalog/boom/tmass.py
  mirar/catalog/boom/ztf.py
  mirar/catalog/kowalski/__init__.py
  mirar/catalog/kowalski/base_kowalski_catalog.py
  mirar/catalog/kowalski/ps1.py
  mirar/pipelines/winter/blocks.py
  mirar/processors/xmatch.py
  poetry.lock
  pyproject.toml
  tests/test_winter_pipeline.py
  tests/test_xmatch.py
Due: black, isort, pylint, poetry-check

v1.2.3
  pyproject.toml
Due: poetry-check

v1.2.3 (#1148)
  pyproject.toml
Due: poetry-check

Explicitly link pthread when building psfex
  install_mirar.sh
Due: none

Also link pthread explicitly for scamp and swarp
  install_mirar.sh
Due: none

Update env.example: drop dead vars, add BOOM/WINTER ones, strip placeholders
  env.example
Due: none

Remove dead winter_lab_master_flat_path_generator and WINTER_LAB_FLAT_DIR
  env.example
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
Due: black, isort, pylint

Group WINTER-specific vars into their own section in env.example
  env.example
Due: none

Remove WINTER_CAL_DIRECTORY from env.example
  env.example
Due: none

Remove dead WINTER_CAL_DIRECTORY code path
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

Downgrade the unset-PLPLOT_DEV log from warning to debug
  mirar/processors/astromatic/scamp/scamp.py
Due: black, isort, pylint

Explicitly link pthread when building psfex (#1151)
  install_mirar.sh
Due: none

Restore WINTER_CAL_DIRECTORY, logged at debug instead of warning
  env.example
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
