Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

Set compression to false by default
  mirar/io.py
  mirar/processors/base_processor.py
  mirar/processors/utils/image_saver.py
Due: black, isort, pylint

Check mirror cover (#916)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/models/_exposures.py
Due: black, isort, pylint

Fix logging level (#917)
  mirar/database/q3c.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/utils/docs/pipeline_visualisation.py
Due: black, isort, pylint

Broaden WINTER Cal Requirements (#918)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/utils/cal_hunter.py
Due: black, isort, pylint

Bump version (#919)
  poetry.lock
  pyproject.toml
Due: poetry-check

Allow compression for image saving (#914)
  mirar/io.py
  mirar/pipelines/winter/blocks.py
  mirar/processors/astromatic/swarp/swarp.py
  mirar/processors/astrometry/anet/anet_processor.py
  mirar/processors/astrometry/autoastrometry/autoastrometry_processor.py
  mirar/processors/base_processor.py
  mirar/processors/photometry/base_photometry.py
  mirar/processors/utils/image_saver.py
  mirar/processors/zogy/zogy.py
Due: black, isort, pylint

max_n_cpu=1 for sextractor
  mirar/processors/astromatic/sextractor/sextractor.py
Due: black, isort, pylint

Fix inconsistency by setting max_n_cpu=1 for Sextractor (#925)
  mirar/pipelines/sedmv2/blocks.py
  mirar/processors/astromatic/sextractor/sextractor.py
Due: black, isort, pylint

Add dither info and gal coordinates to db
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/models/_exposures.py
Due: black, isort, pylint

Add dither info and gal coordinates to db (#926)
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/models/_exposures.py
Due: black, isort, pylint

Bump version
  poetry.lock
Due: none

v0.15.0 (#927)
  poetry.lock
Due: none

bump version
  pyproject.toml
Due: poetry-check

Update
  poetry.lock
Due: none

Actually update version (#928)
  poetry.lock
  pyproject.toml
Due: poetry-check

test mac install
  .github/workflows/mac_m1_install.yml
Due: none

Debump torch
  poetry.lock
  pyproject.toml
Due: poetry-check

Debump torch
  .github/workflows/mac_m1_install.yml
Due: none

Tweak CI:
  .github/workflows/mac_m1_install.yml
Due: none

Update
  .github/workflows/mac_m1_install.yml
Due: none

Update setuptools
  .github/workflows/mac_m1_install.yml
Due: none

Add CI install for Mac M1 (#933)
  .github/workflows/mac_m1_install.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

new flat exptimes
  mirar/pipelines/sedmv2/load_sedmv2_image.py
Due: black, isort, pylint

no spreadmodel cut
  mirar/pipelines/sedmv2/generator.py
Due: black, isort, pylint

remove specific paths
  mirar/pipelines/sedmv2/config/files/photomCat.sex
Due: none

Try bumping wheel etc
  .github/workflows/mac_m1_install.yml
Due: none

Bump all set up packages
  .github/workflows/mac_m1_install.yml
Due: none

Bump timeout
  .github/workflows/mac_m1_install.yml
Due: none

Reorder
  .github/workflows/mac_m1_install.yml
Due: none

Update timeout for scm install with Mac M1 (#939)
  .github/workflows/mac_m1_install.yml
Due: none

Filter out galactic plane post-imsub
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Bump version too
  poetry.lock
  pyproject.toml
Due: poetry-check

Filter out galactic plane post-imsub (#940)
  mirar/pipelines/winter/blocks.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

midwayfalts
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

Progress
  mirar/processors/flat.py
Due: black, isort, pylint

Normal working version
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
