Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

use local database
  mirar/pipelines/spring/generator.py
Due: black, isort, pylint

update blocks
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

use different psf file
  mirar/pipelines/spring/config/files/reference.sex
Due: none

revert
  mirar/pipelines/spring/config/files/reference.sex
Due: none

use different psf configs
  mirar/pipelines/spring/blocks.py
Due: black, isort, pylint

add params
  mirar/pipelines/spring/config/files/photomPSF.param
Due: none

update pars
  mirar/pipelines/spring/config/files/photomPSF.param
  mirar/pipelines/spring/config/files/photom_sci.psfex
Due: none

update pars
  mirar/pipelines/spring/config/files/photom.psfex
  mirar/pipelines/spring/config/files/photom_sci.psfex
  mirar/pipelines/spring/config/files/reference.psfex
Due: none

spring cleanup
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

add origin to phot
  mirar/pipelines/spring/blocks.py
  mirar/pipelines/spring/config/__init__.py
  mirar/processors/skyportal/skyportal_source.py
Due: black, isort, pylint

upload stack
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

targname
  mirar/pipelines/spring/blocks.py
Due: black, isort, pylint

detect candidates on fake images
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

Update to work with SDSS
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/references/sdss.py
Due: black, isort, pylint

Bump wintertoo to 1.9.2 to fix CI
  poetry.lock
Due: none

Winter reprocessing (#1132)
  mirar/pipelines/winter/winter_pipeline.py
  poetry.lock
Due: black, isort, pylint

pre-commit formatting
  mirar/processors/astrometry/autoastrometry/autoastrometry_processor.py
  mirar/processors/astrometry/autoastrometry/reference.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

made changes to make usage similar to the CLI script. Also validated against the CLI script on SPRING frames
  mirar/processors/astrometry/autoastrometry/autoastrometry.py
  mirar/processors/astrometry/autoastrometry/autoastrometry_processor.py
  mirar/processors/astrometry/autoastrometry/detect.py
  mirar/processors/astrometry/autoastrometry/reference.py
Due: black, isort, pylint

changed catalog type to ASCII_HEAD in the newly made autoastro_astrom.sex
  mirar/pipelines/spring/config/files/autoastro_astrom.sex
Due: none

frames dont get wcs rewritten if solution is bad
  mirar/processors/astrometry/autoastrometry/autoastrometry_processor.py
Due: black, isort, pylint

added a variant of CustomImageBatchModifier which also passes the night sub-directory
  mirar/processors/utils/night_aware_modifier.py
Due: black, isort, pylint

added NightAwareImageBatchModifier
  mirar/processors/utils/__init__.py
Due: black, isort, pylint

added function to solve astrometry with anet first and then fallback to autoastrometry
  mirar/pipelines/spring/generator.py
Due: black, isort, pylint

added sextractor config path for autoastrometry
  mirar/pipelines/spring/config/__init__.py
Due: black, isort, pylint

added the block for astrometry with anet and autoastrometry as fallback
  mirar/pipelines/spring/blocks.py
Due: black, isort, pylint

added astrometry (with anet and autoastrometry both) in the config
  mirar/pipelines/spring/spring_pipeline.py
Due: black, isort, pylint

frames on which both anet and autoastrometry fails will be dropped
  mirar/pipelines/spring/blocks.py
Due: black, isort, pylint

fixed the .get() in image.get and turned ASTRGOOD to string
  mirar/processors/astrometry/autoastrometry/autoastrometry_processor.py
Due: black, isort, pylint

added the flag ASTRGOOD in the files solved by anet
  mirar/pipelines/spring/generator.py
Due: black, isort, pylint

Update LMI to work with SDSS (#1136)
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/references/sdss.py
Due: black, isort, pylint

pre commit changes
  mirar/processors/utils/night_aware_modifier.py
Due: black, isort, pylint

Replace database credential globals with a pydantic DBConfig read at run time
  mirar/database/credentials.py
  mirar/database/engine.py
  mirar/database/setup.py
  mirar/database/user/postgres_admin.py
  mirar/database/user/postgres_user.py
  mirar/pipelines/spring/models/__init__.py
  mirar/pipelines/summer/models/__init__.py
  mirar/pipelines/winter/ingest_references.py
  mirar/pipelines/winter/models/__init__.py
  mirar/processors/database/base_database_processor.py
Due: black, isort, pylint

Move env-fallback logic into DBConfig.from_env, use X | None syntax
  mirar/database/credentials.py
  mirar/database/engine.py
  mirar/database/user/postgres_admin.py
  mirar/database/user/postgres_user.py
  mirar/pipelines/winter/ingest_references.py
  mirar/processors/database/base_database_processor.py
Due: black, isort, pylint

Replace database credential globals with a pydantic DBConfig read at run time (#1138)
  mirar/database/credentials.py
  mirar/database/engine.py
  mirar/database/setup.py
  mirar/database/user/postgres_admin.py
  mirar/database/user/postgres_user.py
  mirar/pipelines/spring/models/__init__.py
  mirar/pipelines/summer/models/__init__.py
  mirar/pipelines/winter/ingest_references.py
  mirar/pipelines/winter/models/__init__.py
  mirar/processors/database/base_database_processor.py
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
