Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

.pre-commit-config.yaml:

default_language_version:
    python: python3.11
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: system
        types: [ python ]
-   repo: local
    hooks:
      - id: pylint
        name: pylint [mandatory]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
        verbose: true
-   repo: local
    hooks:
      - id: pylint
        name: pylint [full]
        entry: pylint
        language: system
        types: [python]
        args:
          [
            "--exit-zero"
          ]
        verbose: true
-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

New nlc mode
  mirar/pipelines/winter/nlc.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Only round if t>1
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

Isortify
  mirar/pipelines/winter/generator/reduce.py
Due: black, isort, pylint

fix script
  mirar/__main__.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

interim nlc
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/nlc.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/mode_masker.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

Fix typo in cal requirements
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

Update poetry.lock
  poetry.lock
Due: none

midwayfalts
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/reduce.py
  mirar/pipelines/winter/load_winter_image.py
  mirar/processors/flat.py
  mirar/processors/utils/__init__.py
  mirar/processors/utils/nan_filler.py
Due: black, isort, pylint

Mid
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Progress
  mirar/processors/flat.py
Due: black, isort, pylint

Update to skyflat config
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

interim
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

Normal working version
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Fix download
  poetry.lock
  pyproject.toml
Due: poetry-check

move imageselector
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Fallback old flat mode
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Fix db user set up
  mirar/database/setup.py
Due: black, isort, pylint

More careful checking
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

Update
  mirar/pipelines/wasp/blocks.py
Due: black, isort, pylint

hotter fix
  mirar/pipelines/wasp/generator/target.py
Due: black, isort, pylint

Tag stacks automatically
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/generator/__init__.py
  mirar/pipelines/wasp/generator/target.py
Due: black, isort, pylint

Tweak cache and add calhunter
  mirar/data/cache.py
  mirar/pipelines/wasp/blocks.py
Due: black, isort, pylint

rerebase
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/generator/__init__.py
  mirar/pipelines/wasp/wasp_pipeline.py
  mirar/processors/utils/cal_hunter.py
Due: black, isort, pylint

better wasp
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/generator/__init__.py
  mirar/pipelines/wasp/generator/stacks.py
  mirar/pipelines/wasp/generator/target.py
  mirar/processors/sources/utils/regions_writer.py
Due: black, isort, pylint

Fix coordinates
  mirar/processors/sources/utils/regions_writer.py
Due: black, isort, pylint

Add gmos
  mirar/io.py
  mirar/pipelines/__init__.py
  mirar/pipelines/gmos/__init__.py
  mirar/pipelines/gmos/blocks.py
  mirar/pipelines/gmos/config/__init__.py
  mirar/pipelines/gmos/config/constants.py
  mirar/pipelines/gmos/config/files/astrom.param
  mirar/pipelines/gmos/config/files/astrom.sex
  mirar/pipelines/gmos/config/files/config.swarp
  mirar/pipelines/gmos/config/files/default.conv
  mirar/pipelines/gmos/config/files/default.nnw
  mirar/pipelines/gmos/config/files/photom.param
  mirar/pipelines/gmos/config/files/photomCat.sex
  mirar/pipelines/gmos/config/files/photom_sci.psfex
  mirar/pipelines/gmos/config/files/scamp.conf
  mirar/pipelines/gmos/generator.py
  mirar/pipelines/gmos/gmos_pipeline.py
  mirar/pipelines/gmos/load_gmos_image.py
Due: black, isort, pylint

Add gmos masking
  mirar/pipelines/gmos/blocks.py
  mirar/pipelines/gmos/gmos_mask.py
Due: black, isort, pylint

update doc test
  docs/source/usage.rst
Due: none

Numpy V2
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

First stab
  Dockerfile
Due: none

explicit directory for winter calhunter
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

Explicit directory for winter calhunter (#1058)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

remove unnecessary dark requirements
  mirar/pipelines/winter/config/__init__.py
Due: black, isort, pylint

Add working docker file
  .dockerignore
  Dockerfile
Due: none

GMOS (#1052)
  docs/source/usage.rst
  mirar/io.py
  mirar/pipelines/__init__.py
  mirar/pipelines/gmos/__init__.py
  mirar/pipelines/gmos/blocks.py
  mirar/pipelines/gmos/config/__init__.py
  mirar/pipelines/gmos/config/constants.py
  mirar/pipelines/gmos/config/files/astrom.param
  mirar/pipelines/gmos/config/files/astrom.sex
  mirar/pipelines/gmos/config/files/config.swarp
  mirar/pipelines/gmos/config/files/default.conv
  mirar/pipelines/gmos/config/files/default.nnw
  mirar/pipelines/gmos/config/files/photom.param
  mirar/pipelines/gmos/config/files/photomCat.sex
  mirar/pipelines/gmos/config/files/photom_sci.psfex
  mirar/pipelines/gmos/config/files/scamp.conf
  mirar/pipelines/gmos/generator.py
  mirar/pipelines/gmos/gmos_mask.py
  mirar/pipelines/gmos/gmos_pipeline.py
  mirar/pipelines/gmos/load_gmos_image.py
Due: black, isort, pylint

Better wasp pipeline (#1051)
  mirar/data/cache.py
  mirar/pipelines/wasp/blocks.py
  mirar/pipelines/wasp/config/__init__.py
  mirar/pipelines/wasp/generator/__init__.py
  mirar/pipelines/wasp/generator/stacks.py
  mirar/pipelines/wasp/generator/target.py
  mirar/pipelines/wasp/wasp_pipeline.py
  mirar/processors/sources/utils/regions_writer.py
  mirar/processors/utils/cal_hunter.py
Due: black, isort, pylint

save nlcified images
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint
