Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

update test
  tests/test_winter_pipeline.py
Due: black, isort, pylint

all tests
  .github/workflows/continuous_integration.yml
Due: none

Astrometry fix (#1018)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/astrom.param
  mirar/pipelines/winter/config/files/astrom.scamp
  mirar/pipelines/winter/config/files/astrom.sex
  mirar/pipelines/winter/config/files/astromstats.param
  mirar/pipelines/winter/config/files/config.swarp
  mirar/pipelines/winter/generator/astrometry.py
  mirar/pipelines/winter/generator/references.py
  mirar/processors/astromatic/scamp/scamp.py
  mirar/processors/astrometry/anet/anet.py
  mirar/processors/astrometry/anet/anet_processor.py
  mirar/processors/sources/source_detector.py
  mirar/utils/execute_cmd.py
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Update
  poetry.lock
Due: none

Version bump
  pyproject.toml
Due: poetry-check

Add ztf match
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

Add ztf match (#1020)
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

Update for pylint
  .github/workflows/pylint.yml
Due: none

v0.18.0 (#1019)
  .github/workflows/pylint.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Trust AI overlords
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

Catch string nan in ztf name (#1025)
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

correct dir
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

change params
  mirar/pipelines/winter/config/files/candidate_detection.sex
Due: none

change
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

fix
  mirar/processors/sources/source_detector.py
Due: black, isort, pylint

more stringent cuts
  mirar/pipelines/winter/validator.py
Due: black, isort, pylint

update load sub
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/winter_pipeline.py
Due: black, isort, pylint

execute
  mirar/utils/execute_cmd.py
Due: black, isort, pylint

refactor
  mirar/processors/astromatic/swarp/swarp.py
  mirar/utils/execute_cmd.py
Due: black, isort, pylint

swar min coadds
  mirar/pipelines/winter/blocks.py
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

specific zogy error
  mirar/processors/zogy/zogy.py
Due: black, isort, pylint

fix
  mirar/pipelines/winter/load_winter_image.py
Due: black, isort, pylint

update detection thresh
  mirar/pipelines/winter/config/files/candidate_detection.sex
  mirar/processors/sources/source_detector.py
Due: black, isort, pylint

most for swarp- no more ugly masks?
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

fields
  mirar/pipelines/winter/models/_fields.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

fix key
  mirar/pipelines/winter/models/_fields.py
Due: black, isort, pylint

All winter fields (#1032)
  mirar/pipelines/winter/models/_fields.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

add start date filter to stack of stacks
  mirar/pipelines/winter/run.py
Due: black, isort, pylint

fix date range
  mirar/pipelines/winter/run.py
Due: black, isort, pylint

Add a startdate to stack_of_stacks (#1037)
  mirar/pipelines/winter/run.py
Due: black, isort, pylint

update tests
  tests/test_winter_pipeline.py
Due: black, isort, pylint

remove logging
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

fix test
  tests/test_winter_pipeline.py
Due: black, isort, pylint

Candidatefix (#1043)
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/candidate_detection.sex
  mirar/pipelines/winter/load_winter_image.py
  mirar/pipelines/winter/validator.py
  mirar/pipelines/winter/winter_pipeline.py
  mirar/processors/astromatic/swarp/swarp.py
  mirar/processors/sources/source_detector.py
  mirar/processors/zogy/zogy.py
  mirar/utils/execute_cmd.py
  tests/test_winter_pipeline.py
Due: black, isort, pylint

versionbump
  pyproject.toml
Due: poetry-check

Versionbump (#1044)
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix typo
  pyproject.toml
Due: poetry-check

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
