Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

update thresholds
  mirar/pipelines/mirage/config/files/astrom.sex
Due: none

tmp debug
  mirar/pipelines/mirage/blocks.py
Due: black, isort, pylint

add darks
  mirar/pipelines/mirage/blocks.py
  mirar/pipelines/mirage/mirage_pipeline.py
Due: black, isort, pylint

cleanup
  mirar/pipelines/mirage/blocks.py
Due: black, isort, pylint

fix
  mirar/pipelines/mirage/mirage_pipeline.py
Due: black, isort, pylint

different name
  mirar/pipelines/mirage/blocks.py
Due: black, isort, pylint

headers
  mirar/pipelines/mirage/load_mirage_image.py
Due: black, isort, pylint

missing headers
  mirar/pipelines/mirage/blocks.py
  mirar/pipelines/mirage/load_mirage_image.py
Due: black, isort, pylint

fix
  mirar/pipelines/mirage/load_mirage_image.py
Due: black, isort, pylint

mark flats darks
  mirar/pipelines/mirage/blocks.py
  mirar/pipelines/mirage/load_mirage_image.py
Due: black, isort, pylint

made some changes to the skyportal config
  mirar/pipelines/spring/config/__init__.py
  mirar/pipelines/spring/constants.py
  mirar/pipelines/spring/load_spring_image.py
Due: black, isort, pylint

Working
  mirar/catalog/vizier/base_vizier_catalog.py
Due: black, isort, pylint

Working stacking
  mirar/catalog/__init__.py
  mirar/catalog/vizier/__init__.py
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/catalog/vizier/gaia.py
  mirar/catalog/vizier/sdss.py
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/lmi/config/__init__.py
  mirar/pipelines/lmi/config/constants.py
  mirar/pipelines/lmi/config/files/astrom.sex
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/generator/stacks.py
  mirar/pipelines/lmi/load_lmi_image.py
  mirar/processors/astromatic/scamp/configs/old_scamp.conf
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Working
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/config/files/config.swarp
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

LMI update
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/config/constants.py
  mirar/pipelines/lmi/config/files/astrom.sex
  mirar/pipelines/lmi/config/files/config.swarp
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/generator/sources.py
  mirar/pipelines/lmi/generator/stacks.py
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/pipelines/lmi/load_lmi_image.py
  mirar/processors/cosmic_rays.py
Due: black, isort, pylint

First draft LMI pipeline
  mirar/pipelines/lmi/config/__init__.py
  mirar/pipelines/lmi/config/constants.py
  mirar/pipelines/lmi/generator/stacks.py
Due: black, isort, pylint

Working
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/catalog/vizier/skymapper.py
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/lmi_pipeline.py
Due: black, isort, pylint

Update
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/generator/stacks.py
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/pipelines/lmi/load_lmi_image.py
Due: black, isort, pylint

Working
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Add pip
  .github/workflows/mac_m1_install.yml
Due: none

Update black
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Reshuffle deps
  poetry.lock
  pyproject.toml
Due: poetry-check

De-wget
  poetry.lock
  pyproject.toml
Due: poetry-check

Fix scamp typo
  mirar/processors/astromatic/swarp/swarp.py
  pyproject.toml
Due: black, isort, pylint, poetry-check

Update
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Repropagate header
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Update
  mirar/pipelines/lmi/blocks.py
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Working LMI, update swarp (#1118)
  .github/workflows/mac_m1_install.yml
  mirar/catalog/__init__.py
  mirar/catalog/vizier/__init__.py
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/catalog/vizier/gaia.py
  mirar/catalog/vizier/sdss.py
  mirar/catalog/vizier/skymapper.py
  mirar/pipelines/base_pipeline.py
  mirar/pipelines/lmi/blocks.py
  mirar/pipelines/lmi/config/constants.py
  mirar/pipelines/lmi/config/files/astrom.sex
  mirar/pipelines/lmi/generator/__init__.py
  mirar/pipelines/lmi/generator/sources.py
  mirar/pipelines/lmi/generator/stacks.py
  mirar/pipelines/lmi/lmi_pipeline.py
  mirar/pipelines/lmi/load_lmi_image.py
  mirar/processors/astromatic/scamp/configs/old_scamp.conf
  mirar/processors/astromatic/swarp/swarp.py
  mirar/processors/cosmic_rays.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Update
  .github/workflows/mac_m1_install.yml
Due: none

Try brew for astrometry, conda elsewhere
  .github/workflows/mac_m1_install.yml
Due: none

Update
  mirar/io.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Update
  astro-deps.cfg
  install_mirar.sh
  mirar/io.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Working mac install
  astro-deps.cfg
  install_mirar.sh
  poetry.lock
  pyproject.toml
Due: poetry-check

Update
  .github/workflows/pylint.yml
Due: none

Bump python
  .github/workflows/continuous_integration.yml
Due: none

Update
  .github/workflows/test_install_script.yml
Due: none

Working?
  install_mirar.sh
Due: none

Update docs, finally
  docs/source/usage.rst
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
