Repository winter-telescope/mirar: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, poetry-check

black:
  name: black
  entry: black
  language: system

isort:
  name: isort (python)
  entry: isort
  language: system

pylint:
  name: pylint [full]
  entry: pylint
  language: system
  args:
  - --exit-zero
  verbose: true

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

right batching
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

right batching key
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

subset
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

different boardid
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

fix key bug (#1099)
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

try to avoid for chunkencoding error
  mirar/catalog/vizier/base_vizier_catalog.py
Due: black, isort, pylint

account for missing keywords in some images
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

correct for faint tmass detections
  mirar/pipelines/winter/generator/candidates.py
Due: black, isort, pylint

First draft
  mirar/pipelines/__init__.py
  mirar/pipelines/lris/__init__.py
  mirar/pipelines/lris/blocks.py
  mirar/pipelines/lris/config/__init__.py
  mirar/pipelines/lris/config/constants.py
  mirar/pipelines/lris/config/files/astrom.param
  mirar/pipelines/lris/config/files/astrom.sex
  mirar/pipelines/lris/config/files/config.swarp
  mirar/pipelines/lris/config/files/default.conv
  mirar/pipelines/lris/config/files/default.nnw
  mirar/pipelines/lris/config/files/photom.param
  mirar/pipelines/lris/config/files/photomCat.sex
  mirar/pipelines/lris/config/files/photom_sci.psfex
  mirar/pipelines/lris/config/files/scamp.conf
  mirar/pipelines/lris/generator/__init__.py
  mirar/pipelines/lris/generator/stacks.py
  mirar/pipelines/lris/generator/target.py
  mirar/pipelines/lris/load_lris_image.py
  mirar/pipelines/lris/lris_pipeline.py
Due: black, isort, pylint

Label stackid
  mirar/pipelines/wirc/blocks.py
Due: black, isort, pylint

Better tagging
  mirar/pipelines/wirc/generator/stacks.py
Due: black, isort, pylint

Fix main bug
  mirar/__main__.py
Due: black, isort, pylint

Working K-band
  mirar/pipelines/wirc/blocks.py
  mirar/references/wfcam/wfcam_query.py
Due: black, isort, pylint

Working imsub via directory
  mirar/pipelines/wirc/blocks.py
  mirar/pipelines/wirc/generator/__init__.py
  mirar/pipelines/wirc/generator/references.py
  mirar/pipelines/wirc/wirc_pipeline.py
  mirar/references/directory.py
Due: black, isort, pylint

Add bad image file
  mirar/processors/utils/image_loader.py
Due: black, isort, pylint

Update
  mirar/pipelines/wirc/blocks.py
Due: black, isort, pylint

Vizier Connections + imsub failure fixes (#1100)
  mirar/catalog/vizier/base_vizier_catalog.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/processors/astromatic/swarp/swarp.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/blocks.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/realbogus.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/processors/sources/machine_learning/__init__.py
  mirar/processors/sources/machine_learning/xgboost.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Bump poetry
  pyproject.toml
Due: poetry-check

Update
  mirar/processors/sources/machine_learning/pytorch.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/generator/realbogus.py
  mirar/processors/sources/machine_learning/xgboost.py
Due: black, isort, pylint

Update
  mirar/processors/sources/machine_learning/xgboost.py
Due: black, isort, pylint

Update
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/generator/realbogus.py
Due: black, isort, pylint

Update dependencies
  mirar/pipelines/winter/blocks.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Update
  mirar/pipelines/winter/generator/realbogus.py
Due: black, isort, pylint

Bump poetry version
  .github/workflows/pylint.yml
  docs/source/installation.rst
  pyproject.toml
Due: poetry-check

Update
  .github/workflows/continuous_integration.yml
Due: none

Bump poetry version
  .github/workflows/continuous_integration.yml
Due: none

Fix CI again
  .github/workflows/black.yml
  .github/workflows/mac_m1_install.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  mirar/pipelines/summer/blocks.py
  mirar/processors/astromatic/swarp/swarp.py
  mirar/utils/dockerutil.py
Due: black, isort, pylint

Fix CI:
  .github/workflows/black.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/mac_m1_install.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
Due: none

Bump poetry version
  .readthedocs.yml
Due: none

bump
  poetry.lock
  pyproject.toml
Due: poetry-check

Update avro
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
Due: none

Update
  .github/workflows/continuous_integration.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

Freeze lacosmic
  poetry.lock
  pyproject.toml
Due: poetry-check

Add rb and xrb V2 (#1104)
  .github/workflows/black.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/mac_m1_install.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .readthedocs.yml
  docs/source/installation.rst
  mirar/pipelines/summer/blocks.py
  mirar/pipelines/winter/blocks.py
  mirar/pipelines/winter/config/files/avro_schema/winter.alert.candidate.avsc
  mirar/pipelines/winter/generator/__init__.py
  mirar/pipelines/winter/generator/candidates.py
  mirar/pipelines/winter/generator/realbogus.py
  mirar/pipelines/winter/models/_candidates.py
  mirar/processors/astromatic/swarp/swarp.py
  mirar/processors/sources/machine_learning/__init__.py
  mirar/processors/sources/machine_learning/xgboost.py
  mirar/utils/dockerutil.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint, poetry-check

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
